* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body {
    background-image:url(https://image.freepik.com/fotos-gratis/a-vista-bonita-do-close-up-do-verde-da-natureza-sae-no-fundo-borrado-da-arvore-das-hortalicas-com-o-parque-do-jardim-da-luz-solar-em-publico_50039-1136.jpg);
      font-family:Arial;
      background-size:auto 100 vh;
      height: 100 vh;
      
}
    
    .menu {
      background-color:orange;
      
          }
    a{
      text-decoration:none;
        color:purple;
     }
    a:hover{
      text-decoration:underline;
      color:blue;
      font-size: 130%;
      }
    .menu li{
      list-style:none;
    
    }
    .menu ul{
      display: flex;
      justify-content:space-around;
      text-height: 2em;
          }
    
    .site-title,
    .site-subtitle{
     text-align:center;
     color:black;
     font-family: 'Dancing Script', cursive;
        text-height:2em;
    }
    .site-subtitle{
      font-family:italico;
    }
