body {
    background-image:url(https://image.freepik.com/fotos-gratis/a-vista-bonita-do-close-up-do-verde-da-natureza-sae-no-fundo-borrado-da-arvore-das-hortalicas-com-o-parque-do-jardim-da-luz-solar-em-publico_50039-1136.jpg);
      font-family:Arial;
      background-size:auto 110vh;
      }
    
    .menu {
      background-color:orange;
          }
    a{
      text-decoration:none;
        color:brown;
     }
    a:hover{
      text-decoration:underline;
      color:gray;
      font-size: 130%;
      }
    .menu li{
      list-style:none;
    
    }
    .menu ul{
      display: flex;
      justify-content:space-around;
          }
    
    .site-title,
    .site-subtitle{
      text-align:center;
      color:black;
    }
    .site-subtitle{
      font-family:italico;
    }
