body {
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRaNaIOAzqdfxoAha6J9pNfBksv54Nr5y7MbR8Er1ywWPWrnSG&usqp=CAU);
      font-family:Arial;
      background-size:auto 100vh;
      }
    
    .menu {
      background-color:orange;
          }
    a{
      text-decoration:none;
     }
    a:hover{
      text-decoration:underline;
      color: #000;
      font-size: 150%;
      }
    .menu li{
      list-style:none;
    }
    .menu ul{
      display: flex;
      justify-content:space-around;
          }
    
    .site-title,
    .site-subtitle{
      text-align:center;
    
    }
    .site-subtitle{
      font-family:italico;
    }
    